    body {
      font-family: Arial;
      max-width: 900px;
      margin: auto;
    }

    #container {
      display: flex;
      gap: 20px;
    }

    #messages {
      flex: 3;
      border: 1px solid #ccc;
      height: 400px;
      overflow-y: auto;
      padding: 10px;
    }

    #onlineUsers {
      flex: 1;
      border: 1px solid #ccc;
      height: 400px;
      overflow-y: auto;
      padding: 10px;
    }

    .system {
      color: gray;
      font-style: italic;
    }

    .name {
      font-weight: bold;
    }

    .admin { color: red; }
    .rainbow { color: purple; }
    .special { color: green; }